* {
    font-family: "Segoe UI", Tahoma;
    color:#1ebe7b;
 
  }
  
  body{
    background: linear-gradient(115deg, #0c090f, #10094b, #0a0311);
    min-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: left;
    }

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background: linear-gradient(45deg, #200053, #0e0025);
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000033;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 25px;
    font-size: 1.5em;
    border: none;
    background-color: #000000;
    transition-property:all;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    
}

button:hover {
    background: #28f09c;
}

button:active {
    background-color: rgb(44, 171, 255);
}

button:focus {
    outline: none;
}

.col-2 {
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #000000;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px #1ebe7b;
}

#current-valor {
    font-size: 1.5em;
}

#previous-valor {
    font-size: 2em;
}
